body {
  font-family: "Marhey", sans-serif;
  background-color: var(--color-2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-1: #327039;
  --color-2: #E9ECEF;
  --color-3: #B1B8C2;
  --color-4: #1A1A1A;
  --mosque-svg: 
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}